<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot CRUD</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <style>
        html,
        body {
            background-color: #fff;
            color: #76bd1d;
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            height: 100vh;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 84px;
        }

        .links > a {
            color: #34302d;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
<!--                HEY! SPRING BOOT CRUD-->
            </div>
            <div class="links">
<!--                <a th:href="${'user'}"><u>Data User</u></a>-->
<!--                    <a th:href="${'matakuliah'}"><u>Data Mata Kuliah</u></a>-->
<!--                    <a th:href="${'mahasiswa'}"><u>Data Mahasiswa</u></a>-->
                <a th:href="/"><u>Selamat datang, </u> <span style="font-weight:bold" th:text="${#authentication.getName()}"></span></a>

                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>