<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>-an</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}"/>
    <script th:src="@{/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.js/bootstrap.min.js}"></script>
</head>

<body style="background-color:#ededed;">
    <div style="background-color:#337ab7;height:50px;"></div>
        <div class="container-fluid">
            <div class="row col-md-4 col-md-offset-4" style="margin-top: 80px; background-color:#fff; padding:20px; border:solid 1px #ddd;">
                <form th:action="@{/login/process}" class="form-signin" method="post">
                    <h3 class="form-signin-heading" th:text="Login"></h3>
                    <br/>
                    <input type="text" id="app_username" name="app_username" th:placeholder="username" class="form-control" />
                    <br/>
                    <input type="password" th:placeholder="password" id="app_password" name="app_password" class="form-control"/>
                    <br/>
                    <button type="submit" th:text="Login" style="margin-right:10px;"></button>
                </form>
            </div>
    </div>
</body>
</html>