<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mahasiswa</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div>
            <h2>Insert Mahasiswa</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4"></div>
        <div>
            <button type="button" class="close" onclick="window.location.href='/mahasiswa';">&times;</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div th:if="${param.failed}" class="alert alert-warning col-md-4" role="alert">
            <strong>NOTIFIKASI : </strong> Gagal simpan data
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.success}" class="alert alert-success col-md-4" role="alert">
            <strong>NOTIFIKASI : </strong> Berhasil simpan data
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <form th:action="@{/mahasiswa/create}" th:method="post">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="mahasiswa">Nama Mahasiswa</label>
                <input type="text" class="form-control" th:id="mahasiswa" th:name="mahasiswa" placeholder="Nama Mahasiswa"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <label for="maks">Maks SKS</label>
                <input type="text" class="form-control" th:id="maks" th:name="maks" placeholder="Maks SKS"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>