<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KRS-an</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="form-group col-md-4 text-center">
            <h2>~ KRS ~</h2>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-4"></div>
        <div>
            <button type="button" class="close" onclick="window.location.href='/mahasiswa';">&times;</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div th:if="${param.fail}" class="alert alert-warning col-md-6" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>GAGAL : </strong> Tidak bisa memilih matakuliah, melebihi jumlah sks maksimal yang ditentukan.
        </div>
    </div>

    <div class="form-group">
        <div th:each="mahasiswa : ${dataMahasiswas}">
            <form>
                <b>NIM &nbsp; : </b> <span type="text" th:name="nim" th:text="${mahasiswa.nim}"></span><br/>
                <b>Nama :</b> <span th:text="${mahasiswa.mahasiswa}"> </span><br/>
                <b>SKS &nbsp;:</b> <span th:text="${mahasiswa.maks}"></span>
            </form>
        </div>
    </div>

    <div class="form-group col-md-6">
        <div class="panel-body">
            <p>Mata Kuliah Tersedia : </p>
            <table class="table table-striped table-bordered table-list">
                <thead>
                <tr>
                    <th width="15%">Pilih</th>
                    <th width="60%">Mata Kuliah</th>
                    <th width="25%">SKS</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="data : ${dataSets2}">
                    <form th:action="@{/mahasiswa/savekrs}">
                        <td>
                            <input type="hidden" th:name="nim" th:value="${nim}"/>
                            <input type="hidden" th:name="sks" th:value="${data.sks}"/>
                            <input type="hidden" th:name="id" th:value="${data.id}"/>
                            <input type="submit" class="btn btn-primary" value="Pilih"/>
                        </td>
                        <td th:text="${data.matakuliah}" th:name="matakuliah"></td>
                        <td th:text="${data.sks}" th:name="sks"></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="form-group col-md-6">
        <div class="panel-body">
            <p>Mata Kuliah Terpilih :</p>
            <table class="table table-striped table-bordered table-list">
                <thead>
                <tr>
                    <th>No</th>
                    <th width="60%">Mata Kuliah</th>
                    <th width="25%">SKS</th>
                    <th width="15%">Pilih</th>
                </tr>
                </thead>
                <tbody>
<div th:if ="${!dataKrs.isEmpty()}">
                <tr th:each="data, iterator : ${dataKrs}">
                    <form th:action="@{/mahasiswa/deletekrs/}">
                        <td th:text="${iterator.index+1}"></td>
                        <td th:text="${data.matakuliah}"></td>
                        <td th:text="${data.sks}"></td>
                        <td>
                            <input type="hidden" th:id="nim" th:name="nim" th:value="${nim}">
                            <input type="hidden" th:id="id" th:name="id" th:value="${data.id}">
                            <input type="hidden" th:id="jumSks" th:name="jumSks" th:value="${jumSKS}">
                            <input type="hidden" th:id="idkrs" th:name="idkrs" th:value="${data.idkrs}">
                            <button type="submit" class="btn btn-danger">Hapus</button>
                        </td>
                        <tr>
                            <td></td>
                            <td align="right">Jumlah SKS :</td>
                            <td th:text="${jumSKS}"></td>
                            <td></td>
                        </tr>
                    </form>
                </tr>
</div>

                </tbody>
            </table>
        </div>
    </div>


</div>
</body>

</html>